# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

.nyc_output
node_modules/
jspm_packages/

*.tsbuildinfo
.npm

# dotenv environment variable files
be/.env
.env.*
!.env.example

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.idea/compiler.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/PC-Store.iml
.idea/vcs.xml
be/src/main/resources/application.properties